@page
@model ShoraaDahak.Web.Pages.Admin.Users.DeleteUserModel
@{
    ViewData["Title"] = "حذف کاربر";
}

<h1 class="text-danger">حذف کاربر</h1>

<h4>آیا از حذف این کاربر مطمعن هستید ؟</h4>
<div>
    <h4 class="text-black-50">@Model.DeleteUserViewModel.Name</h4>
    <hr />
    <div class="col-md-12 row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                اطلاعات کاربر
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="form-group">
                    <label> نام </label>
                    <h5 class="text-primary">@Model.DeleteUserViewModel.Name</h5>
                </div>
                <div class="form-group">
                    <label> کد ملی </label>
                    <h5 class="text-primary">@Model.DeleteUserViewModel.NCode</h5>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <br/>
    <form method="post">
        <input type="hidden" asp-for="DeleteUserViewModel.UserId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="Index">بازگشت به لیست</a>
    </form>
</div>

