@model List<ShoraaDahak.DataLayer.Models.quote.Quote>
@foreach (var quote in Model)
{
    <div class="single_customers_box">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-7">
                <div class="single_customers_wraps">
                    <div class="single_customers_caption">
                        <div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
                        <p class="customers_description">@Html.Raw(quote.QuoteBody)</p>
                        <div class="review_author_box">
                            <div class="reviews_img">
                                <img src="/Quote/thumb/@quote.QuoteImageName" class="img-fluid" alt="@quote.QuoteBy" />
                            </div>
                            <div class="reviews_caption">
                                <h4 class="testi2_title">@quote.QuoteBy</h4>
                                <span>@quote.QuoterJob</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}