@page
@model ShoraaDahak.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "پنل ادمین";
}
<div class="row">
    <div class="col-12 col-md-9">
        <h1 class="page-header"> سلام @Model.Name</h1>
    </div>
</div>

