@page
@model ShoraaDahak.Web.Pages.Admin.LetterTos.CreateLetterToModel
@{
    ViewData["Title"] = "افزودن مقصد نامه جدید";
}

<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">افزودن مقصد جدید</h1>
    </div>
    <div class="col-md-3">
        <a asp-page="Index" class="btn btn-outline btn-primary">لیست مقصد ها</a>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <form method="post">
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    اطلاعات مقصد
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان مقصد</label>
                        <input type="text" asp-for="LetterTo.LetterToTitle" class="form-control" placeholder="عنوان مقصد را وارد کنید ">
                        <span asp-validation-for="LetterTo.LetterToTitle" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-7">
            <button type="submit" class="btn btn-success btn-lg btn-block">ثبت مقصد</button>
        </div>
    </form>
</div>
