
@{
    ViewData["Title"] = "تماس با ما";
}
<div class="breadcrumbs_wrap dark mb-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="ti-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="gray">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-6 col-md-6">
                <div class="contact-box">
                    <img src="/img/us-marker.png" class="mx-auto" alt="پرچم ایران">
                    <h4>دفتر مرکزی</h4>
                    ایران ، شیراز ، زند ,<br>
                    خیابان هستی ، ساختمان مهر
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact-box">
                    <img src="/img/uk-marker.png" class="mx-auto" alt="پرچم انگلیس">
                    <h4>دفتر اروپا</h4>
                    91+ 123 456 9857<br>
                    91+ 258 548 5426
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-lg-5 col-md-12 hide-91">
                <img src="/img/preet-o.png" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="contact-form">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>شماره تلفن</label>
                                <input type="email" class="form-control" placeholder="882 04 08 0930">
                            </div>
                            <div class="form-group col-md-6">
                                <label>ایمیل</label>
                                <input type="email" class="form-control" placeholder="Mranotmillion@gmail.com">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


