
@{
    ViewData["Title"] = "یافت نشد";
}

<section class="gray">
    <div class="container">
        <div class="row">
						
            <div class="col-lg-12 col-md-12 text-center">
                <h2 class="error_title">4<span class="text-primary">0</span>4<i class="ti-help"></i></h2>
                <p><span class="text-primary"></span> ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید</p>
                <a href="/" class="btn btn-primary">صفحه اصلی</a>
            </div>
						
        </div>
    </div>
</section>

