
@{
    ViewData["Title"] = "خانه";
}


<partial name="_Banner" />

<partial name="_Subjects" />

<partial name="_Services" />

<partial name="_News" />

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="sec-heading-flex pl-2 pr-2">
                    <div class="sec-heading-flex-one">
                    </div>
                    <div class="sec-heading-flex-last">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<partial name="_Blogs" />

