@model ShoraaDahak.DataLayer.Models.User.User
@{
    ViewData["Title"] = "تایید ثبت نام";
}
<div class="row align-items-center justify-content-center">
    <div class="col-md-8 col-sm-8 col-lg-8 alert alert-success m-4">
        <h2 class="mb-1">@Model.Name : </h2>
        <p>
            نام شما با موفقیت در سیستم ثبت گردید. ایمیل فعالسازی حساب برای شما ارسال شده است جهت احراز هویت روی لینک ارسال شده در ایمیل کلیک کنید.
        </p>
    </div>
</div>