@model ShoraaDahak.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "ویرایش کلمه عبور";
}

<div class="breadcrumbs_wrap dark mb-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="ti-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">ویرایش کلمه عبور</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="login_signup">
                    <h3 class="login_sec_title">ویرایش کلمه عبور</h3>
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="ActiveCode"/>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <input type="password" asp-for="Password" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>تکرار رمز عبور</label>
                                    <input type="password" asp-for="RePassword" class="form-control">
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="login_flex">
                                    <div class="login_flex_2">
                                        <div class="form-group mb-0">
                                            <button type="submit" class="btn btn-md btn-theme">ویرایش</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
