<div class="short_banner">
    <div class="container">
        <div class="short_banner_wrap">
            <div class="row align-items-center">

                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="short_banner_caption mb-3">
                        <h2>تحویل رایگان<br>24 ساعته درب منزل</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون.</p>
                    </div>
                    <div class="blocks search_blocks shor_banner_form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="جستجو در سایت ...">
                            <div class="input-group-append">
                                <button class="btn search_btn" type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="short_banner_thumb">
                        <img src="/img/fruits.png" class="img-fluid" alt="" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>