<div class="short_banner">
    <div class="container">
        <div class="short_banner_wrap">
            <div class="row align-items-center">

                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="short_banner_caption mb-3">
                        <h2>سایت رسمی<br>دهک و دولت آباد</h2>
                        <p> این فضا جهت فراهم سازی ارتباط سریع و آسان میان مردم و مسئولین ساخته شده است ;  </p>
                        <p>خوش آمدید ...</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="short_banner_thumb">
                        <img src="/img/Banner.png" class="img-fluid" alt="Banner Photo" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>