<section class="offer-banner-wrap gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel banner-offers owl-theme">

                    <!-- Single Item -->
                    <div class="item">
                        <div class="offer_item">
                            <div class="offer_item_thumb">
                                <div class="offer-overlay"></div>
                                <img src="/img/offer-1.jpg" alt="">
                            </div>
                            <div class="offer_caption">
                                <div class="offer_bottom_caption">
                                    <p>10% تخفیف</p>
                                    <div class="offer_title">پیشنهادات خوب در شهر شما</div>
                                    <span>10٪ تخفیف در همه میوه ها</span>
                                </div>
                                <a href="#" class="btn offer_box_btn">خرید کنید</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="offer_item">
                            <div class="offer_item_thumb">
                                <div class="offer-overlay"></div>
                                <img src="/img/offer-2.jpg" alt="">
                            </div>
                            <div class="offer_caption">
                                <div class="offer_bottom_caption">
                                    <p>25% تخفیف</p>
                                    <div class="offer_title">پیشنهاد ویژه در اولین خرید</div>
                                    <span>25٪ تخفیف در سبزیجات تازه</span>
                                </div>
                                <a href="#" class="btn offer_box_btn">خرید کنید</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="offer_item">
                            <div class="offer_item_thumb">
                                <div class="offer-overlay"></div>
                                <img src="/img/offer-3.jpg" alt="">
                            </div>
                            <div class="offer_caption">
                                <div class="offer_bottom_caption">
                                    <p>30% تخفیف</p>
                                    <div class="offer_title">تخفیف های سوپر مارکت</div>
                                    <span>30٪ تخفیف در تخم مرغ و لبنیات</span>
                                </div>
                                <a href="#" class="btn offer_box_btn">خرید کنید</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="offer_item">
                            <div class="offer_item_thumb">
                                <div class="offer-overlay"></div>
                                <img src="/img/offer-4.jpg" alt="">
                            </div>
                            <div class="offer_caption">
                                <div class="offer_bottom_caption">
                                    <p>15% تخفیف</p>
                                    <div class="offer_title">پیشنهاد بهتر برای شما</div>
                                    <span>پس انداز بیش از 15٪</span>
                                </div>
                                <a href="#" class="btn offer_box_btn">خرید کنید</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="offer_item">
                            <div class="offer_item_thumb">
                                <div class="offer-overlay"></div>
                                <img src="/img/offer-5.jpg" alt="">
                            </div>
                            <div class="offer_caption">
                                <div class="offer_bottom_caption">
                                    <p>40% تخفیف</p>
                                    <div class="offer_title">تخفیف های سوپر مارکت</div>
                                    <span>40٪ تخفیف در همه غذاهای خشک</span>
                                </div>
                                <a href="#" class="btn offer_box_btn">خرید کنید</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="offer_item">
                            <div class="offer_item_thumb">
                                <div class="offer-overlay"></div>
                                <img src="/img/offer-6.jpg" alt="">
                            </div>
                            <div class="offer_caption">
                                <div class="offer_bottom_caption">
                                    <p>15% تخفیف</p>
                                    <div class="offer_title">پیشنهاد بهتر برای شما</div>
                                    <span>نوشیدن خوبی برای سلامتی است</span>
                                </div>
                                <a href="#" class="btn offer_box_btn">خرید کنید</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>