@using ShoraaDahak.Core.Services.Interfaces
@using ShoraaDahak.Core.DTOs
@inject IBlogService _blogService;
@{
    List<BlogInIndexViewModel> Model = _blogService.GetBlogsInIndex();
}
<section class="offer-banner-wrap gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel banner-offers owl-theme">
                    @foreach (var blog in Model)
                    {
                        <div class="item">
                            <div class="offer_item">
                                <div class="offer_item_thumb">
                                    <div class="offer-overlay"></div>
                                    <img src="/Blog/image/@blog.ImageName" alt="@blog.Title">
                                </div>
                                <div class="offer_caption">
                                    <div class="offer_bottom_caption">
                                        <p>@blog.CategoryTitle</p>
                                        <div class="offer_title">@blog.Title</div>
                                        <span>@blog.Writer</span>
                                    </div>
                                    <a href="/Blogs/@blog.BlogId" class="btn offer_box_btn">خواندن</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>