<section class="offer-banner-wrap gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel banner-offers owl-theme">
                    <cache expires-after="@TimeSpan.FromMinutes(20)">
                        @await Component.InvokeAsync("BlogInIndexComponent")
                    </cache>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>