<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_MetaTags" />
    <title>دهک و دولت آباد | @ViewBag.Title</title>

    <partial name="_Styles" />

</head>
<body class="grocery-theme">
    <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
<div id="main-wrapper">

    <partial name="_Header"/>

    @RenderBody()

    <partial name="_Footer"/>

</div>

    <partial name="_Scripts" />

</body>
</html>
