<section class="bg-cover" style="background:#eff8e7 url(/img/gro-trans.png) no-repeat">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="sec-heading">
                    <div class="sec-heading center">
                        <span class="theme-cl">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</span>
                        <h2 class="grocery_title">نظرات مشتریان</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="customers-carousel owl-carousel owl-theme products-slider " id="customers-carousel">

                    <!-- single testimonial -->
                    <div class="single_customers_box">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-7">
                                <div class="single_customers_wraps">
                                    <div class="single_customers_caption">
                                        <div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
                                        <p class="customers_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                        <div class="review_author_box">
                                            <div class="reviews_img">
                                                <img src="/img/naveen-o.png" class="img-fluid" alt="" />
                                            </div>
                                            <div class="reviews_caption">
                                                <h4 class="testi2_title">آقای نوین گوپتا</h4>
                                                <span>مدیر پروژه</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- single testimonial -->
                    <div class="single_customers_box">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-7">
                                <div class="single_customers_wraps">
                                    <div class="single_customers_caption">
                                        <div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
                                        <p class="customers_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                        <div class="review_author_box">
                                            <div class="reviews_img">
                                                <img src="/img/rani-o.png" class="img-fluid" alt="" />
                                            </div>
                                            <div class="reviews_caption">
                                                <h4 class="testi2_title">خانم راني شاه گوپتا</h4>
                                                <span>مجری بازرگانی</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- single testimonial -->
                    <div class="single_customers_box">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-7">
                                <div class="single_customers_wraps">
                                    <div class="single_customers_caption">
                                        <div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
                                        <p class="customers_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                                        <div class="review_author_box">
                                            <div class="reviews_img">
                                                <img src="/img/preet-o.png" class="img-fluid" alt="" />
                                            </div>
                                            <div class="reviews_caption">
                                                <h4 class="testi2_title">آقای دانانجی</h4>
                                                <span>مدیر عامل</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>