<section class="cen-mid">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="sec-heading center">
                    <span class="theme-cl">میوه های تازه در خانه شما</span>
                    <h2 class="grocery_title">فروشگاه آنلاین تازه</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="multi-tab">

                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="row">

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <span class="woo_pr_tag hot">ویژه</span>
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/1.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/2.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <span class="woo_pr_tag new">جدید</span>
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/3.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <span class="woo_offer_sell">20% تخفیف</span>
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/4.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <span class="woo_pr_tag hot">ویژه</span>
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/5.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/6.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <span class="woo_pr_tag hot">ویژه</span>
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/7.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <span class="woo_pr_tag new">جدید</span>
                            <div class="woo_product_thumb">
                                <img src="/img/vegetables/8.png" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">عنوان محصول</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>7200 تومان<span class="less_price">11200 تومان</span></h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#viewproduct-over" class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="add-to-cart.html" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="wishlist.html" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>