<section class="pt-5 pb-0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="owl-carousel category-slider owl-theme">
                    <div class="item">
                        
                    </div>
                    <div class="item">
                        <div class="woo_category_box border_style rounded">
                            <div class="woo_cat_thumb">
                                <a href="#Quotes"><img src="https://img.icons8.com/dusk/64/000000/quote-left.png" class="img-fluid" alt="اخبار" /></a>
                            </div>
                            <div class="woo_cat_caption">
                                <h4><a href="#Quotes">نقل قول ها</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="woo_category_box border_style rounded">
                            <div class="woo_cat_thumb">
                                <a href="/Blog"><img src="https://img.icons8.com/external-wanicon-two-tone-wanicon/64/000000/external-blogs-digital-content-wanicon-two-tone-wanicon.png" class="img-fluid" alt="وبلاگ ها" /></a>
                            </div>
                            <div class="woo_cat_caption">
                                <h4><a href="/Blog">وبلاگ ها</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="woo_category_box border_style rounded">
                            <div class="woo_cat_thumb">
                                <a href="/Service"><img src="https://img.icons8.com/dusk/64/000000/services--v1.png" class="img-fluid" alt="خدمات" /></a>
                            </div>
                            <div class="woo_cat_caption">
                                <h4><a href="/Service">خدمات انجام شده</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="woo_category_box border_style rounded">
                            <div class="woo_cat_thumb">
                                <a href="/SendLetter"><img src="https://img.icons8.com/office/64/000000/send.png" class="img-fluid" alt="ارسال نامه" /></a>
                            </div>
                            <div class="woo_cat_caption">
                                <h4><a href="/SendLetter">ارسال نامه</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="woo_category_box border_style rounded">
                            <div class="woo_cat_thumb">
                                <a href="/SendReport"><img src="https://img.icons8.com/officel/64/000000/foul.png" class="img-fluid" alt="گزارش تخلف" /></a>
                            </div>
                            <div class="woo_cat_caption">
                                <h4><a href="/SendReport">گزارش تخلف</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>