<div class="header_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="general_head_right text-left">
                    <ul>
                        <li><a href="/Register" class="btn btn-outline-info m-1 rounded"> ثبت نام </a> <a href="/Login" class="btn btn-outline-success m-1 rounded"> ورود </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>