@model List<ShoraaDahak.DataLayer.Models.Services.ServiceGroup>
<li>
    <a href="/Service">خدمات انجام شده<span class="submenu-indicator"></span><span class="submenu-indicator"></span></a>
    <ul class="nav-dropdown nav-submenu" id="rautu">
        @foreach (var group in Model.Where(g => g.ParrentId == null))
        {
            <li>
                <a href="/Service?selectedGroups=@group.GroupId">@group.GroupTitle<span class="submenu-indicator"></span><span class="submenu-indicator"></span></a>
                @if (Model.Any(g => g.ParrentId == group.ParrentId))
                {
                    <ul class="nav-dropdown nav-submenu">
                        @foreach (var sub in Model.Where(g => g.ParrentId == group.GroupId))
                        {
                            <li><a href="/Service?selectedGroups=@sub.GroupId">@sub.GroupTitle</a></li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</li>